[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#vertical-container {
  border: 1px solid #ccc;
  height: 300px;
}

.product {
  box-flex: 1;
}